
/* Extras - Extra Content Page */
.extrasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 10rem 2rem 2rem 2rem; */
  padding-top: 10rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.extrasHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.extrasHeading:hover {
  color: #f56565;
  transition: color 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 101, 101, 0.7); /* Adding a shadow effect */
}
/* extrasSubContainers 1-3 */
.extrasSubContainer1,
.extrasSubContainer2,
.extrasSubContainer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 2rem auto;
}

.extrasSubContainer1:hover,
.extrasSubContainer2:hover,
.extrasSubContainer3:hover {
  box-shadow: 0 0 20px 0 rgba(255, 101, 101, 0.7);
  transition: box-shadow 0.3s ease;
}

.extrasSubContainer1 h1,
.extrasSubContainer2 h1,
.extrasSubContainer3 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.extrasSubContainer1 p,
.extrasSubContainer2 p,
.extrasSubContainer3 p {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
