/* Styles for Skills Data Table */

.paginationControlsCtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.previous-button,
.next-button {
    margin-right: 10px;
    padding-right: 10px;
    color: #000;
}

.previous-button:hover,
.next-button:hover {
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}

.skillRow:hover {
    color: #fff;
}

.skillLevelLowDT {
    color: #FFFF00;
}

.skillLevelMedDT {
    color: #FFA500;
}

.skillLevelHighDT {
    color: #008000;
}

.skillLevelExpertDT {
    color: #800080;
}